# Исключения из загрузки каталогов и файлов
# Каталог tmp
tmp/
# Файлы и каталоги Thumbs.db
Thumbs.db
# Файл *.DS_Store
.DS_Store
# Файлы, заканчивающиеся суффиксами _old
*_old
# Файлы, заканчивающиеся суффиксами _backup
*_backup
